.message-right {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.site-title {
    font-size: 16px;
    color: #00a1b2;
    margin: 30px 30px 30px 60px;
}

.accountGoods {
    max-width: 900px;
    margin: 0 auto;
}

.left-btn {
    position: absolute;
    left: 60px;
    top: 120px;
    cursor: pointer;
}

.right-btn {
    position: absolute;
    right: 60px;
    top: 120px;
    cursor: pointer;
}

.goods-text {
    margin: 25px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        color: #454545;
        padding-left: 18px;
        .goods-top-text {
            width: 450px;
            text-align: left;
        }
        .exchange {
            width: 120px;
        }
        .count-text {
            width: 180px;
        }
        li {
            width: 120px;
            text-align: center;
        }
    }
}

.cart-box {
    min-height: 300px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px; // overflow: hidden;
    // overflow: auto;
    .cart-container {
        width: 900px;
        height: 72px;
        margin-top: 20px;
        background: #fff;
        .cart-content {
            padding: 20px;
            /* 订单内容布局 */
            ul {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                .cart-img {
                    img {
                        width: 76px;
                        height: 76px;
                    }
                }
                .goods-name {
                    color: #2b2b2b;
                    font-size: 14px;
                    width: 200px;
                    text-align: center;
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 10px;
                }
                /* 订单左边商品详细 */
                .cart-goods {
                    width: 180px;
                    display: inline-block;
                    line-height: 25px !important;
                    /* 订单左边商品详细布局 */
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        li {
                            color: #666;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                .integral-number {
                    margin-left: 40px;
                    color: #fd0000;
                    font-weight: 700;
                    font-size: 16px;
                    font-family: arial;
                }
                .payment-text {
                    color: #666;
                    margin-left: 125px;
                }
                .order-right-text {
                    margin-left: 125px;
                    a {
                        color: #fd0000;
                        font-weight: 700;
                        font-size: 16px;
                        font-family: arial;
                    }
                }
            }
        }
    }
}

/* 收货地址 */

.my-site {
    min-width: 900px;
    height: 150px;
    overflow: auto;
    display: flex;
    &::-webkit-scrollbar {
        display: none;
    }
    .my-site-box {
        width: 280px;
        height: 150px;
        margin-left: 10px;
        border: 1px solid #00A1B2;
        background: linear-gradient(45deg, #C5C5C5 12.5%, #fbfaf5 12.5%, #fbfaf5 25%, #C5C5C5 25%, #C5C5C5 37.5%, #fbfaf5 37.5%, #fbfaf5 50%, #C5C5C5 50%, #C5C5C5 62.5%, #fbfaf5 62.5%, #fbfaf5 75%, #C5C5C5 75%, #C5C5C5 87.5%, #fbfaf5 87.5%, #fbfaf5 100%);
        background-size: 70px 70px;
        padding: 4px;
        margin-bottom: 10px;
        .my-site-white {
            background: #fff;
            padding: 10px;
        }
        .my-site-text-top {
            color: #666;
            font-size: 14px;
            .text-top {
                color: #2b2b2b;
                font-size: 14px;
                height: 35px;
                border-bottom: 1px dashed #ccc;
                line-height: 35px;
                margin-bottom: 15px;
                span {
                    width: 190px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                i {
                    width: 60px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    float: right;
                }
            }
            li:nth-child(2) {
                margin-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                min-width: 250px;
            }
        }
        .my-site-text-right {
            display: flex;
            margin-top: 9px;
            li {
                font-size: 14px;
                color: #00439d;
                cursor: pointer;
                margin-right: 20px;
            }
        }
    }
    /* 默认地址样式 */

.active {
    position: relative;
    background: linear-gradient(45deg, #f25953 12.5%, #fbfaf5 12.5%, #fbfaf5 25%, #5590d6 25%, #5590d6 37.5%, #fbfaf5 37.5%, #fbfaf5 50%, #f25953 50%, #f25953 62.5%, #fbfaf5 62.5%, #fbfaf5 75%, #5590d6 75%, #5590d6 87.5%, #fbfaf5 87.5%, #fbfaf5 100%);
    background-size: 70px 70px;
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: -1px;
        bottom: 0;
        border-bottom: 40px solid #00A1B2;
        border-left: 40px solid transparent;
    }
    &:after {
        content: "\2713";
        font-size: 20px;
        color: #fff;
        position: absolute;
        right: 5px;
        bottom: 0;
    }
    .active-color {
        color: #00A1B2 !important;
    }
}
}

/* 编辑收货地址 */

.compile-form {
    #form {
        //让个别input右对齐
        span {
            color: #595757;
            display: inline-block;
            width: 100px;
        }
        input {
            width: 550px; // height: 48px;
            margin-top: 20px;
            padding: 10px 0;
            font-size: 17px;
        }
        .province {
            margin-top: 20px;
            select {
                width: 173px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }
    .check {
        margin: 20px 0 0 110px;
    }
    .site-btn {
        margin-top: 80px;
        a {
            width: 360px;
            height: 36px;
            line-height: 36px;
        }
    }
}

.addSite {
    color: #00479d;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

/* 按钮 */

.total-box {
    width: 100%;
    margin-top: 50px;
    .total-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .total-text {
            margin: 0 30px;
        }
        span {
            font-size: 14px;
            color: #666;
        }
        i {
            color: #FF4400;
            font-weight: 700;
            font-size: 16px;
            font-family: arial;
        }
        .total-btn-false {
            a {
                width: 120px;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                border-radius: 0px;
                background: #00A1B3;
                border-radius: 10px;
            }
        }
    }
}
