.footer {
    position: relative;
    height: 250px;
    min-width: 1200px;
    background: #DADCDB; 
    margin-top: 80px;
    .footer-box {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .footer-text {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: 25px 0;
        h1 {
            margin-top: 40px;
            font-size: 18px;
            color: #666666;
            font-weight: 1000;
        }
        ul {
            float: left;
            margin: 20px 0px;
            li {
                margin-right: 30px;
                margin-top: 10px;
                a {
                    color: #666;
                    font-size: 14px;
                }
                a:hover {
                    color: #009DB2;
                    transition: .3s;
                }
            }
        }
        .footer-phone {
            margin: -35px 30px !important;
            li {
                a {
                    font-size: 18px;
                    color: #666666;
                    font-weight: 500;
                }
            }
        }
        .footer-wx {
            display: flex;
            margin-top: -35px;
            li {
                a {
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                i {
                    display: inline-block;
                    width: 120px;
                    position: relative;
                    left: -10px;
                    text-align: center;
                    font-size: 14px;
                    color: #595757;
                    padding: 5px;
                    margin: 0 auto;
                }
            }
        }
    }
    .footer-complete {
        background: #fff;
        text-align: center;
        padding: 20px 0;
        margin: 30px 0 0 0;
        a,
        span,
        div {
            color: #595757;
            font-size: 14px;
            margin-top: 10px;
        }
        a:hover {
            color: #009DB2;
            transition: .3s;
        }
        i {
            font-size: 24px;
            vertical-align: sub;
            margin-left: 20px;
        }
    }
}