.content {
    width: 600px;
    margin: 40px auto;
    .regret-text {
        h1 {
            text-align: center;
            font-size: 22px;
            color: #00a1b2;
            img {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        p {
            font-size: 14px;
            color: #454545;
            text-align: center;
            margin-top: 40px;
            a {
                font-size: 14px;
                color: #868686;
                margin-left: 10px;
            }
        }
    }
    .regret-btn {
        margin-top: 30px;
        text-align: center;
        p {
            color: #454545;
            font-size: 14px;
            a {
                color: #00a1b2;
                font-size: 14px;
            }
        }
    }
    .btn-blue {
        margin-top: 20px;
        a {
            width: 120px;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
        }
    }
    .black{
        a{
            background: #7d7d7d;
        }
    }
    .btn-box{
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}