@charset "UTF-8";
.datum-box {
  margin-top: 56px;
  color: #595757; }
  .datum-box .phone-box {
    margin-bottom: 36px; }
  .datum-box #form {
    margin: 20px 0 0 100px; }
    .datum-box #form span {
      width: 100px;
      display: inline-block; }
    .datum-box #form a {
      color: #00a1b2;
      font-size: 14px;
      margin-right: 20px; }
    .datum-box #form input {
      width: 520px;
      height: 48px;
      font-size: 16px;
      padding-left: 10px; }
    .datum-box #form .phone {
      color: #666; }
  .datum-box .datum-btn {
    margin-top: 60px; }
    .datum-box .datum-btn a {
      width: 360px;
      height: 36px;
      line-height: 36px; }
  .datum-box .open-div {
    position: relative;
    display: none; }
    .datum-box .open-div .shade {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background: #000;
      opacity: 0.7;
      z-index: 6000; }
    .datum-box .open-div .open-box {
      position: fixed;
      width: 578px;
      border-radius: 10px;
      padding: 10px;
      top: 10%;
      background: #fff;
      border: 1px solid #cccccc;
      text-align: center;
      color: #676367;
      z-index: 6001;
      /* 验证码Input宽度 */ }
      .datum-box .open-div .open-box .test-input,
      .datum-box .open-div .open-box .test-input2 {
        width: 190px; }
      .datum-box .open-div .open-box .test-input2 {
        margin-left: 85px; }
      .datum-box .open-div .open-box h1 {
        font-size: 18px;
        color: #00a1b2;
        margin: 20px 0; }
      .datum-box .open-div .open-box p {
        margin: 30px 0 20px 120px;
        font-size: 16px;
        text-align: left; }
      .datum-box .open-div .open-box input {
        width: 330px;
        height: 36px;
        font-size: 17px;
        margin-top: 10px; }
      .datum-box .open-div .open-box .open-box-btn1,
      .datum-box .open-div .open-box .open-box-btn2,
      .datum-box .open-div .open-box .open-box-btn3 {
        margin: 40px 0; }
        .datum-box .open-div .open-box .open-box-btn1 a,
        .datum-box .open-div .open-box .open-box-btn2 a,
        .datum-box .open-div .open-box .open-box-btn3 a {
          width: 280px; }
    .datum-box .open-div .close-btn {
      width: 21px;
      height: 21px;
      background: url(../image/1231234.png) no-repeat;
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer; }
    .datum-box .open-div .test-btn {
      display: inline-block;
      margin-left: 10px; }
      .datum-box .open-div .test-btn a {
        width: 120px; }
