* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.header {
  width: 100%;
  height: 52px;
  background: #DDDDDD; }
  .header .header-box {
    width: 980px;
    margin: 0 auto; }
    .header .header-box .header-img-left {
      margin-left: 10px; }
    .header .header-box .header-img-right {
      float: right;
      margin-right: 40px; }
    .header .header-box img {
      margin-top: 10px; }
