@charset "UTF-8";
/* 商城个人购物信息页面 */
.shopping {
  margin-top: 28px; }
  .shopping .shopping-msg {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    .shopping .shopping-msg .message-left {
      float: left; }
      .shopping .shopping-msg .message-left .msg-left-top {
        width: 240px;
        height: 240px;
        border: 1px solid #c9caca;
        border-radius: 5px; }
        .shopping .shopping-msg .message-left .msg-left-top h4 {
          text-align: center;
          font-weight: 900;
          font-size: 24px;
          color: #595757;
          margin: 20px 0; }
        .shopping .shopping-msg .message-left .msg-left-top p {
          padding-left: 25px;
          color: #595757;
          margin: 17px 0; }
        .shopping .shopping-msg .message-left .msg-left-top .integral {
          color: #00a1b2;
          font-size: 14px;
          padding-left: 25px; }
        .shopping .shopping-msg .message-left .msg-left-top .shopping-btn {
          margin-top: 30px; }
          .shopping .shopping-msg .message-left .msg-left-top .shopping-btn a {
            height: 24px;
            line-height: 24px;
            font-size: 14px; }
      .shopping .shopping-msg .message-left .msg-left-nav {
        float: left;
        width: 240px;
        border: 1px solid #c9caca;
        border-radius: 4px;
        background: #fff;
        margin-top: 20px; }
        .shopping .shopping-msg .message-left .msg-left-nav ul .nav-border {
          border-top: 0; }
        .shopping .shopping-msg .message-left .msg-left-nav ul li {
          height: 40px;
          border-top: 1px solid #c9caca;
          line-height: 40px;
          padding-left: 10px; }
          .shopping .shopping-msg .message-left .msg-left-nav ul li a {
            color: #595757;
            font-size: 14px; }
            .shopping .shopping-msg .message-left .msg-left-nav ul li a:hover {
              color: #00a1b2; }
            .shopping .shopping-msg .message-left .msg-left-nav ul li a span {
              float: right;
              display: inline-block;
              padding-right: 10px;
              height: 36px;
              line-height: 36px; }
    .shopping .shopping-msg .message-right {
      margin-left: 20px;
      display: block; }
      .shopping .shopping-msg .message-right .hr {
        width: 100%;
        height: 1px;
        background: #9FA0A0; }
      .shopping .shopping-msg .message-right .message-text {
        font-size: 18px;
        color: #00a1b2;
        margin-bottom: 10px; }

/* 分页 */
.fl {
  float: left; }

.page {
  position: relative;
  margin: 50px 0 100px 0; }

.box {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  /* transform: translate(-50%, -50%); */
  text-align: center; }

.box button {
  padding: 0 10px;
  /* margin: 0 10px; */
  height: 40px;
  float: left;
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-color: #ffffff; }

.box .first-page,
.box .last-page {
  margin: 0; }

.box .pageWrap {
  height: 40px;
  float: left;
  overflow: hidden; }

.box .pageWrap ul {
  height: 40px;
  float: left; }

.box .pageWrap ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  float: left; }

.box .pageWrap ul .sel-page {
  background-color: #009EB0; }

.box .jump-text {
  width: 55px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 5px;
  float: left; }

.box .jump-button {
  margin: 0;
  float: left; }

.box .total-pages,
.box .total-count {
  margin-left: 10px;
  float: left;
  font-size: 14px; }

.box .total-count {
  display: none; }
