
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p><%for(var i=title.length-1; i>=0; i--){%>
        <span><%=title[i]%></span>
        <%}%></p>
</body>
</html>